@model UsedSparePartCreatedViewModel

@{
    ViewData["Title"] = "Used Spare Part";

    var faults = Model.Faults
        .Select(i => new SelectListItem() { 
            Text = $"{i.Id}; {i.Name}", 
            Value = $"{i.Id}; {i.Name}" });

    var spareParts = Model.SpareParts
        .Select(i => new SelectListItem()
                {
                    Text = $"{i.Id}; {i.Name}",
                    Value = $"{i.Id}; {i.Name}"
                });
}

<div id="dropdown" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/Clients/GetAll">Clients</a>
        <a href="/Employees/GetAll">Employees</a>
        <a href="/Faults/GetAll">Faults</a>
        <a href="/Orders/GetAll">Orders</a>
        <a href="/RepairingModels/GetAll">Repairing Models</a>
        <a href="/ServicedStores/GetAll">Serviced Stores</a>
        <a href="/SpareParts/GetAll">Spare Parts</a>
        <a href="/UsedSpareParts/GetAll">Used Spare Parts</a>
        <a href="/Users/GetAll">Users</a>
    </div>
</div>

<div style="margin-bottom: 50px;">
    <h3>Used Spare Part Creation</h3>

    <form class="creation-form" method="post" asp-action="Create">
        <div class="field-container">
            <label asp-for="Fault"></label>
            <div>
                <select class="select-props" asp-for="Fault" asp-items="@faults"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="SparePart">Spare Part</label>
            <div>
                <select class="select-props" asp-for="SparePart" asp-items="@spareParts"></select>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit">Create</button>
            <a class="back-btn" href="/UsedSpareParts/GetAll">Back</a>
        </div>
    </form>
</div>