@model List<Client>

<div>
    <h3 class="h3-above-table">Clients</h3>

    <a href="/Accounts/RegisterClient" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Middle Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in @Model)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Surname</td>
                    <td>@client.Name</td>
                    <td>@client.MiddleName</td>
                    <td><a href="/Clients/Update?id=@client.Id" class="ud-button">Update</a></td>
                    <td><a href="/Clients/Delete?id=@client.Id" class="ud-button">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>