@model List<Client>

@{
    ViewData["Title"] = "Employees";

    int index = 1;
}

<div id="dropdown" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/Clients/GetAll">Clients</a>
        <a href="/Employees/GetAll">Employees</a>
        <a href="/Faults/GetAll">Faults</a>
        <a href="/Orders/GetAll">Orders</a>
        <a href="/RepairingModels/GetAll">Repairing Models</a>
        <a href="/ServicedStores/GetAll">Serviced Stores</a>
        <a href="/SpareParts/GetAll">Spare Parts</a>
        <a href="/UsedSpareParts/GetAll">Used Spare Parts</a>
        <a href="/Users/GetAll">Users</a>
    </div>
</div>

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Clients</h3>

    <a href="/Accounts/RegisterClient" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th><a href="/Clients/Get?sortedFieldNumber=1">Surname 🠕🠗</a></th>
                <th><a href="/Clients/Get?sortedFieldNumber=2">Name 🠕🠗</a></th>
                <th>Middle Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in @Model)
            {
                <tr>
                    <th>@index</th>
                    <td>@client.Surname</td>
                    <td>@client.Name</td>
                    <td>@client.MiddleName</td>
                    <td><a href="/Clients/Update?id=@client.Id" class="ud-button">Update</a></td>
                    <td><a href="/Clients/Delete?id=@client.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/Clients/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/Home/Index">Back</a>
</div>