@model FaultCreatedViewModel

@{
    ViewData["Title"] = "Faults";

    var repairingModels = Model.RepairingModels
        .Select(i => new SelectListItem() { 
            Text = $"{i.Id}, {i.Name}", 
            Value = $"{i.Id}, {i.Name}" });
}

<div style="margin-bottom: 50px;">
    <h3>Fault Creation</h3>

    <form class="creation-form" method="post" asp-action="Create">
        <div class="field-container">
            <label asp-for="Name"></label>
            <div>
                <input class="input-props" asp-for="Name" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="RepairingModel">Repairing Model</label>
            <div>
                <select class="select-props" asp-for="RepairingModel" asp-items="@repairingModels"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="RepairingMethods">Repairing Methods</label>
            <div>
                <textarea style="height: 130px; width: 350px;" class="input-props" asp-for="RepairingMethods"></textarea>
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="RepairingMethods"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Price"></label>
            <div>
                <input class="input-props" asp-for="Price" type="number" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Price"></span>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit">Create</button>
            <a class="back-btn" href="/Faults/GetAll">Back</a>
        </div>
    </form>
</div>