@model List<UserDto>

@{
    ViewData["Title"] = "Users";
}

<div>
    <h3 class="h3-above-table">Users</h3>

    <a href="/Accounts/RegisterUser" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in @Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td><a href="/Users/Delete?id=@user.Id" class="ud-button">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>