<form class="getting-form" asp-action="Delete" method="post">
    <h3>Are you sure that you want to remove spare part with id = <b>@ViewData["Message"]</b> ?</h3>
    <button class="action-btn" type="submit">Confirm</button>
</form>  

<a class="back-btn" href="/SpareParts/GetAll">Back</a>