@model SparePartForUpdateDto

@{
    ViewData["Title"] = "Spare Part";
}

<div style="margin-bottom: 50px;">
    <h3>Spare Part Update</h3>

    <form class="creation-form" method="post" asp-action="Update">
        <div class="field-container">
            <label asp-for="Id"></label>
            <div>
                <input class="input-props" asp-for="Id" readonly />
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Functions"></label>
            <div>
                <textarea style="height: 130px; width: 350px;" class="input-props" asp-for="Functions"></textarea>
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Functions"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Price"></label>
            <div>
                <input class="input-props" asp-for="Price" type="number" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Price"></span>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit">Update</button>
            <a class="back-btn" href="/SpareParts/GetAll">Back</a>
        </div>
    </form>
</div>