.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.start-page-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.field-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.action-btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.date-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #272773;
}

.index-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.user-info-container {
    box-sizing: border-box;
    padding-right: 100px;
    font-size: 110%;
    border-right: 1px solid #272773;
}

.admins-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 30px;
}

.inner-admins-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}