body {
    margin: 0;
    padding: 0;
    background-color: #E3F2FF;
    font-family: sans-serif;
    color: #272773;
}

header {
    padding: 20px 3% 20px 3%;
    background-color: #C9DFFF;
}

h1 {
    font-weight: normal;
    margin: 0;
}

h2 {
    font-weight: normal;
    margin: 0;
}

a {
    text-decoration: none;
    color: #272773;
}

﻿.error-mes-span {
    margin-left: 5px;
    font-size: 90%;
    color: red;
}

.h3-above-table {
    margin-left: 1%;
}

#main {
    padding: 0 3% 0 3%;
}

.a_addit {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 15px;
}

.main-menu{
    width: 30%;
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
    background-color: #C9DFFF;
    border-radius: 5px;
    font-size: 120%;
}