@model OrderAdminCreatedViewModel

@{
    ViewData["Title"] = "Orders";

    var employees = Model.Employees
       .Select(i => new SelectListItem()
               {
                   Text = $"{i.Surname} {i.Name} {i.MiddleName}, {i.Position}",
                   Value = $"{i.Surname} {i.Name} {i.MiddleName}, {i.Position}"
               });

    var faults = Model.Faults
        .Select(i => new SelectListItem() 
                {
                    Text = $"{i.Name}, {i.RepairingModel.Name}, Id: {i.Id}",
                    Value = $"{i.Name}, {i.RepairingModel.Name}, Id: {i.Id}"
                });

    var clients = Model.Clients
        .Select(i => new SelectListItem()
                {
                    Text = $"{i.Surname} {i.Name} {i.MiddleName}, User id: {i.UserId}",
                    Value = $"{i.Surname} {i.Name} {i.MiddleName},  User id: {i.UserId}"
                });

    var servicedStores = Model.ServicedStores
        .Select(i => new SelectListItem()
                {
                    Text = $"{i.Name}; {i.Address}",
                    Value = $"{i.Name}; {i.Address}"
                });
}

<div>
    <h3>Order</h3>

    <form class="creation-form" method="post" asp-action="CreateForAdmin">
        <div class="field-container">
            <label asp-for="EquipmentSerialNumber">Equipment Serial Number</label>
            <div>
                <input class="input-props" asp-for="EquipmentSerialNumber" type="number"/>
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="EquipmentSerialNumber"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="EquipmentReturnDate">Equipment Return Date</label>
            <div>
                <input class="input-props" asp-for="EquipmentReturnDate" type="date"/>
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="EquipmentReturnDate"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Client"></label>
            <div>
                <select class="select-props" asp-for="Client" asp-items="@clients"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Employee"></label>
            <div>
                <select class="select-props" asp-for="Client" asp-items="@employees"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Fault"></label>
            <div>
                <select class="select-props" asp-for="Fault" asp-items="@faults"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="ServicedStore">Serviced Store</label>
            <div>
                <select class="select-props" asp-for="ServicedStore" asp-items="@servicedStores"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="GuaranteePeriodInMonth">Guarantee Period (months)</label>
            <div>
                <input class="input-props" asp-for="GuaranteePeriodInMonth" type="number" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="GuaranteePeriodInMonth"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Price"></label>
            <div>
                <input class="input-props" asp-for="Price" type="number" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Price"></span>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit">Submit</button>
        </div>
    </form>

    <a class="back-btn" href="/Home/Index">Back</a>
</div>