<ul class="main-menu">
    <li><a href="/Employees/GetAll">Employees</a></li>
    <li><a href="/Faults/GetAll">Faults</a></li>
    <li><a href="/Orders/GetAll">Orders</a></li>
</ul>

<a class="back-btn" href="/Home/Index">Back</a>