
<div class="admins-container">
    <a class="a-button" href="/Clients/GetAll">Clients</a>
    <a class="a-button" href="/Employees/GetAll">Employees</a>
    <a class="a-button" href="/Faults/GetAll">Faults</a>
    <a class="a-button" href="/Orders/GetAll">Orders</a>
    <a class="a-button" href="/RepairingModels/GetAll">Repairing Models</a>
    <a class="a-button" href="/ServicedStores/GetAll">Serviced Stores</a>
    <a class="a-button" href="/SpareParts/GetAll">Spare Parts</a>
    <a class="a-button" href="/UsedSpareParts/GetAll">Used Spare Parts</a>
    <a class="a-button" href="/Users/GetAll">Users</a>
</div>