@model RepairingModelCreatedViewModel

@{
    ViewData["Title"] = "Repairing Models";

    var equipmentTypes = Model.EquipmentTypes
        .Select(i => new SelectListItem() { Text = i, Value = i });

    var manufacturers = Model.Manufacturers
        .Select(i => new SelectListItem() { Text = i, Value = i });
}

<div style="margin-bottom: 50px;">
    <h3>Repairing Model Creation</h3>

    <form class="creation-form" method="post" asp-action="Create">
        <div class="field-container">
            <label asp-for="Type"></label>
            <div>
                <select class="select-props" asp-for="Type" asp-items="@equipmentTypes"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Manufacturer"></label>
            <div>
                <select class="select-props" asp-for="Manufacturer" asp-items="@manufacturers"></select>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Specifications"></label>
            <div>
                <textarea style="height: 130px; width: 350px;" class="input-props" asp-for="Specifications"></textarea>
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Specifications"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="ParticularQualities">Particular Qualities</label>
            <div>
                <textarea style="height: 130px; width: 350px;" class="input-props" asp-for="ParticularQualities"></textarea>
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="ParticularQualities"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="PhotoUrl">Photo Url</label>
            <div>
                <input class="input-props" asp-for="PhotoUrl" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="PhotoUrl"></span>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit">Create</button>
            <a class="back-btn" href="/Home/AdminsPage">Back</a>
        </div>
    </form>
</div>